*.ncrunchsolution
artifacts/
tools/.nuget/**/
.vs/**/
*.suo


[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
.vs/Concha/v14/.suo
*.suo
*.user
*.ncrunchsolution